.order input {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
}

.order h4 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.order button {
    display: block;
    padding: 10px 20px;
    background: red;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin: 20px auto 0;
    border: none;
}