.ItemCard {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.ItemCard span {
    margin-right: 10px;
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ItemCard .name {
    width: 100px;
}

.ItemCard .total {
    width: 90px;
}

.ItemCard .amount {
    width: 40px;
}

.title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.ItemCard button.delete {
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    font-weight: 900;
    font-size: 14px;
    line-height: 20px;
}