.menu {
    width: 450px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid #000;
}

.menuItem {
    width: 100%;
    padding: 5px;
    border: 2px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.menuItem:last-of-type {
    margin: 0;
}

.menuItem .image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menuItem .image img {
    display: block;
    width: 100%;
    height: auto;
}

.menuItem .descr {
    flex-grow: 1;
    padding: 0 20px;
}

.menuItem .descr .name {
    margin-bottom: 10px;
    font-size: 16px;
}

.menuItem .descr .price {
    font-size: 20px;
    font-weight: bold;
}

.menuItem button {
    margin-right: 10px;
    display: block;
    padding: 5px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
}

.menuItem button:hover {
    transform: scale(1.05);
}
