.card {
    width: 310px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #000;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.bottom-block {
    width: 100%;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bottom-block div {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}

button.place_order {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 20px;
    background: red;
    color: #ffffff;
    border: none;
}
button.place_order:disabled {
    opacity: 0.3;
}

ul.list {
    flex-grow: 1;
    border-bottom: 1px solid #000;
}
