.Restaurant {
    width: 800px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    margin: 40px auto 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}